*login*
*.pyc
*nocopy*
*local*
*ickle*
output/
test.csv
configTest
gdiAccounts
GDI
Gdi
tattooHunter/
Twitter Creds.zip

*.json

bigGIHunter/search/checkbits

*.csv

sliceHunter/search/checkbits

GIStudy/.dropbox

GIStudy/search/checkbits

TwitterGIStudy/

outputOld/bigGIHunterOld/.dropbox

outputOld/bigGIHunterOld/search/checkbits

outputOld/search/checkbits

biggestHunter/search/checkbits

GeoPickle.txt

lymeStudy/search/checkbits

#tattooHunter/search/checkbits

vaccAut/search/checkbits

#tattooHunter/search/checkbits

Archive 2.zip

Archive.zip

Tweets.zip

bigLymeStudy/search/checkbits

bigVaccAut/search/checkbits

.gdiAccounts.swp

lymeStudy/searchBackup/checkbits

gunTracker/search/checkbits

gunTracker/search/checkbits

gunTracker/search/checkbits
