*login*
*.pyc
*nocopy*
*local*
*ickle*
*checkbits
output/
test.csv
configTest
gdiAccounts
GDI
Gdi
tattooHunter/
Twitter Creds.zip
*.json
*.dropbox
GeoPickle.txt
*.zip
*.swp
*/search/*
GunTrackerNLTK.csv
lymeScores.csv
NLTK_Ready_Tweets.csv

gdiAccountsTemp
